.results_container {
    width: 100%;
    background-color: var(--main-white);
    padding-top: 123px;
    max-width: 1440px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 60px;
}

.results_title_container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 20px;
    margin-right: 60px;
    margin-left: 60px;
}

.results_h1 {
    font-size: 40px;
}

.results_p {
    font-size: 20px;
    padding-top: 30px;
}

.results_picture {
    height: 369px;
    margin-bottom: -40px;
}

