:root {
    /*Main Colors*/
    --main-green: #029491;
    --main-black: #000000;
    --main-white: #FFFFFF;

    /*Additional Colors*/
    --add-yellow: #FFB64F;
    --add-light-green: #7CE3E1;
    --add-blue: #5970FF;

}